 .krok,
 .wynik {
     margin: 50px;
     border: 1px solid black;
     padding: 15px;
     width: 400px;
     height: 300px;
 }

 .krok table {
     border: 1px solid black;
 }

 input {
     width: 50px;
 }

 h5,
 p {
     margin: 0px;
 }

 fieldset {
     max-width: 800px;
 }

 .nonW {
     display: none;
 }

 .view {
     display: block;
 }

 .krok,
 .wynik {
     display: none
 }

 .krok.view,
 .wynik.view {
     display: block;
 }

 .nextStep {
     float: right;

 }
